h1 { 
    font-size: clamp(24px, 5vw, 40px);
    text-align: center;
    margin: 1.5ch;
    text-shadow: 1.5 1 rgb(57, 101, 121);
    
}
.card{
    font-size: clamp(16px, 3vw, 24px);
    text-align: center;
    margin: 1.5ch;
    gap: 50px;
    width: 80%;
    height: min-content;
    text-shadow: 1.5 1 rgb(150, 150, 150);
}
.card img{
    height:50%;
    width: 50vh;
}
.card p{
    flex-wrap: wrap;
    float: right;
    border: 20px;
}