main{
  
    margin: 20px;
}
h1 { 
    font-size: clamp(24px, 5vw, 40px);
    text-align: center;
    margin: 3.5ch;
    margin-top:12vh;
    text-shadow: 1.5 1 rgb(76, 133, 159);
    
}
footer {
  background-color: #100f0f;
  color: azure;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 30px;
}

.footer-section h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px #ffbebe;
}

.footer-section p {
  font-size: 18px;
  line-height: 1.5;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 16px;
  opacity: 0.7;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 10px;
  text-align: center;
}
