.gallery-container {
  position: relative;
  display: flex;
  align-items: center;
}


.gallery-wrapper {
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  padding: 20px 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-track {
  display: flex;
  width: max-content;
}

.gallery-card {
  min-width: 280px;
  height: 300px;
  margin: 0 15px;
  border-radius: 18px;
  background: rgba(18, 84, 89, 0.85);
  overflow: hidden;
  flex-shrink: 0;
}

.gallery-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card-text {
  padding: 12px;
  color: #fff;
  text-align: center;
}

.card-text h4 {
  font-size: 16px;
  font-weight: bold;
}

.card-text p {
  font-size: 13px;
}


.scroll-btn {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 60px;
  font-size: 30px;
  border: none;
  background: rgba(18, 84, 89, 0.85);
  color: #fff;
  cursor: pointer;
}

.scroll-btn.left { left: 5px; }
.scroll-btn.right { right: 5px; }

/* hide arrows on mobile */
@media (max-width: 768px) {
  .scroll-btn {
    display: none;
  }
}
