.gallery-wrapper {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background: #fffdfd;
}

.gallery-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.gallery-card {
  min-width: 120px;
  height:125px;
  background: rgba(18, 84, 89, 0.485);
    margin: 0 15px;
  border-radius: 40%;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.gallery-card img {
  width: 100%;
  height: 100%;
 
  object-fit: cover;
  image-rendering: optimizeQuality;

}

/* Smooth horizontal scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

