footer {
  background-color: #100f0f;
  color: azure;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 30px;
}

.footer-section h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px #ffbebe;
}

.footer-section p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;
}

.footer-bottom {
  margin-top: 30px;
  font-size: 16px;
  opacity: 0.7;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 10px;
  text-align: center;
}
